<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido asignado</title>
	<style> 
	
		#form6 {
				text-align: center;
			}
	</style>

</head>
<body>

   
	<form id="form6" action ="/example/web/finalizar" name="carritoActualizado" method="post" > 
    
    <table border="5px" align="center">

<tr>
  <td rowspan="5"><img src="{{url}}"></td>
  <td> <strong> {{nombre}} </strong> </td>
</tr>
 
<tr>
   <td> <strong> Cantidad solicitada = {{cantidad}} </strong> </td>
</tr>

<tr>
   <td> <strong> Precio = {{precio}} </strong> </td>
</tr>

<tr>
   <td> <strong> Subtotal = {{subtotal}} </strong> </td>
</tr>

<tr>
   <td> <strong> <button name="Fin" type="submit" > Finalizar Compra y Cerrar Sesion</button> </strong> </td>
</tr>


</table>
    	
	</form>
	
</body>

</html>