<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
	<style> 
	
		#form3 {
				text-align: center;
			}
	</style>
</head>
<body>
    <!-- -->
	<form id="form3" action ="login" name="formularioInicioSesion" method="post"> 
		
	<label> <font color="blue">INTRODUCE TUS DATOS PARA INICIAR SESION </font> </label><br><br><br>
	
	<label> Correo </label>
	<input name="user" type="email" required> <br><br>
	
	<label> Clave </label>
	<input name="claveSesion" type="password" required> <br><br>
		
		
    <br><br><br>
	<button name = "logea" type="submit"> Iniciar Sesion </button>
	
	</form>
	
</body>

</html>